flows node-red/all flows at Pi.txt
[
    {
        "id": "fe8956ab.c7a568",
        "type": "tab",
        "label": "Basic Flow for testing"
    },
    {
        "id": "93699a06.066ce8",
        "type": "tab",
        "label": "CA to TA"
    },
    {
        "id": "715aa0a6.517ab",
        "type": "tab",
        "label": "TA to CA"
    },
    {
        "id": "203725c8.ea478a",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "np7u7y",
        "serverName": "np7u7y.messaging.internetofthings.ibmcloud.com",
        "devType": "iotsample-devicetype",
        "devId": "TA-1",
        "keepalive": "",
        "cleansession": false
    },
    {
        "id": "c94659b5.12fd08",
        "type": "debug",
        "z": "fe8956ab.c7a568",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 248,
        "y": 492,
        "wires": []
    },
    {
        "id": "8d32bbb2.9b3368",
        "type": "wiotp in",
        "z": "fe8956ab.c7a568",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "command1",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 112,
        "y": 428,
        "wires": [
            [
                "c94659b5.12fd08",
                "9d100577.12de48",
                "2ef279d1.689b56"
            ]
        ]
    },
    {
        "id": "b31fc6e1.cb0b78",
        "type": "inject",
        "z": "fe8956ab.c7a568",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 543,
        "y": 76,
        "wires": [
            [
                "7f3ef64d.2dc068"
            ]
        ]
    },
    {
        "id": "7f3ef64d.2dc068",
        "type": "function",
        "z": "fe8956ab.c7a568",
        "name": "",
        "func": "// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 654,
        "y": 134,
        "wires": [
            [
                "ec66c16a.9442e"
            ]
        ]
    },
    {
        "id": "ec66c16a.9442e",
        "type": "wiotp out",
        "z": "fe8956ab.c7a568",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 755,
        "y": 187,
        "wires": []
    },
    {
        "id": "2ef279d1.689b56",
        "type": "file",
        "z": "fe8956ab.c7a568",
        "name": "",
        "filename": "/home/pi/abc1.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 324,
        "y": 609,
        "wires": []
    },
    {
        "id": "9d100577.12de48",
        "type": "xml",
        "z": "fe8956ab.c7a568",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 299,
        "y": 419,
        "wires": [
            []
        ]
    },
    {
        "id": "198c4cef.c75803",
        "type": "inject",
        "z": "fe8956ab.c7a568",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 165,
        "y": 68,
        "wires": [
            [
                "eee6df9a.2d7c4",
                "4b36f37a.43f77c"
            ]
        ]
    },
    {
        "id": "eee6df9a.2d7c4",
        "type": "file in",
        "z": "fe8956ab.c7a568",
        "name": "",
        "filename": "/home/pi/house (1).xml",
        "format": "utf8",
        "x": 224,
        "y": 150,
        "wires": [
            [
                "7aa51a58.34b184"
            ]
        ]
    },
    {
        "id": "21d349ab.890f66",
        "type": "xml",
        "z": "fe8956ab.c7a568",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 142,
        "y": 300,
        "wires": [
            [
                "344fbe03.823822"
            ]
        ]
    },
    {
        "id": "b8b3190a.b76798",
        "type": "wiotp out",
        "z": "fe8956ab.c7a568",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "event1",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 476,
        "y": 251,
        "wires": []
    },
    {
        "id": "4b36f37a.43f77c",
        "type": "file in",
        "z": "fe8956ab.c7a568",
        "name": "",
        "filename": "/home/pi/house (2).xml",
        "format": "utf8",
        "x": 225,
        "y": 192,
        "wires": [
            [
                "21d349ab.890f66"
            ]
        ]
    },
    {
        "id": "7aa51a58.34b184",
        "type": "xml",
        "z": "fe8956ab.c7a568",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 156,
        "y": 252,
        "wires": [
            [
                "d64863c0.19c2c"
            ]
        ]
    },
    {
        "id": "344fbe03.823822",
        "type": "json",
        "z": "fe8956ab.c7a568",
        "name": "",
        "x": 298,
        "y": 299,
        "wires": [
            [
                "a3b6be04.c06a9",
                "f40b1cec.a89ed"
            ]
        ]
    },
    {
        "id": "d64863c0.19c2c",
        "type": "json",
        "z": "fe8956ab.c7a568",
        "name": "",
        "x": 310,
        "y": 248,
        "wires": [
            [
                "b8b3190a.b76798",
                "d23f2b51.757598"
            ]
        ]
    },
    {
        "id": "a3b6be04.c06a9",
        "type": "wiotp out",
        "z": "fe8956ab.c7a568",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "event2",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 472,
        "y": 364,
        "wires": []
    },
    {
        "id": "d23f2b51.757598",
        "type": "debug",
        "z": "fe8956ab.c7a568",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 493,
        "y": 306,
        "wires": []
    },
    {
        "id": "f40b1cec.a89ed",
        "type": "debug",
        "z": "fe8956ab.c7a568",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 496,
        "y": 425,
        "wires": []
    },
    {
        "id": "d43eb863.304e28",
        "type": "debug",
        "z": "fe8956ab.c7a568",
        "name": "device data",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 650,
        "y": 553,
        "wires": []
    },
    {
        "id": "b2e846a3.bca2b8",
        "type": "wiotp in",
        "z": "fe8956ab.c7a568",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "command2",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 514,
        "y": 489,
        "wires": [
            [
                "d43eb863.304e28",
                "b865944a.b5bd38"
            ]
        ]
    },
    {
        "id": "b865944a.b5bd38",
        "type": "file",
        "z": "fe8956ab.c7a568",
        "name": "",
        "filename": "/home/pi/abc2.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 726,
        "y": 670,
        "wires": []
    },
    {
        "id": "d1993a6b.31aca8",
        "type": "xml",
        "z": "fe8956ab.c7a568",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 501,
        "y": 671,
        "wires": [
            []
        ]
    },
    {
        "id": "2084246.cb1f3dc",
        "type": "inject",
        "z": "93699a06.066ce8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 129,
        "y": 36,
        "wires": [
            [
                "49326e1c.7c711",
                "fb8facc6.c5209",
                "73f47953.771d28",
                "46133c40.8852e4",
                "52019c93.d7bc04",
                "a21c3dc5.6c35e",
                "6989b63e.33ce38",
                "7be17bc1.1db224",
                "7c635e6.a5d71a",
                "5954517f.dec66",
                "3f444da6.5bbe22",
                "c70576af.155958",
                "c9e7e044.589fc",
                "d21e7fdc.f4ce9",
                "d275532.6080eb",
                "3d4880d7.f7021",
                "7181660e.9e76d8",
                "d6cc5671.f25dc8",
                "133bcee9.e63061",
                "943642bd.6c08a",
                "3a210546.aba98a",
                "f1f8f4d8.22d698",
                "6812a3d6.8c2b0c",
                "a968f788.18a588",
                "b52ae1cf.83d0a"
            ]
        ]
    },
    {
        "id": "49326e1c.7c711",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (1).xml",
        "format": "utf8",
        "x": 165,
        "y": 84,
        "wires": [
            [
                "d143c19f.20bce"
            ]
        ]
    },
    {
        "id": "e7c799cc.81b538",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 397,
        "y": 130,
        "wires": [
            [
                "81284d78.9e653"
            ]
        ]
    },
    {
        "id": "59890e76.40354",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house01",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 666,
        "y": 85,
        "wires": []
    },
    {
        "id": "fb8facc6.c5209",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (2).xml",
        "format": "utf8",
        "x": 169,
        "y": 131,
        "wires": [
            [
                "e7c799cc.81b538"
            ]
        ]
    },
    {
        "id": "d143c19f.20bce",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 388,
        "y": 83,
        "wires": [
            [
                "cd0ea7ce.f0da38"
            ]
        ]
    },
    {
        "id": "81284d78.9e653",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 522,
        "y": 130,
        "wires": [
            [
                "6e84a9f5.043e88",
                "e81db477.4a9d38"
            ]
        ]
    },
    {
        "id": "cd0ea7ce.f0da38",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 517,
        "y": 84,
        "wires": [
            [
                "59890e76.40354",
                "984ae539.5df948"
            ]
        ]
    },
    {
        "id": "73f47953.771d28",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (3).xml",
        "format": "utf8",
        "x": 164,
        "y": 182,
        "wires": [
            [
                "b9a7d9e2.42a438"
            ]
        ]
    },
    {
        "id": "eed6858a.535d48",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 396,
        "y": 228,
        "wires": [
            [
                "1cf775ab.ece32a"
            ]
        ]
    },
    {
        "id": "46133c40.8852e4",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (4).xml",
        "format": "utf8",
        "x": 168,
        "y": 229,
        "wires": [
            [
                "eed6858a.535d48"
            ]
        ]
    },
    {
        "id": "b9a7d9e2.42a438",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 387,
        "y": 181,
        "wires": [
            [
                "5ea10e03.87c6"
            ]
        ]
    },
    {
        "id": "1cf775ab.ece32a",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 521,
        "y": 228,
        "wires": [
            [
                "df140edc.aea19",
                "9358e53f.47b478"
            ]
        ]
    },
    {
        "id": "5ea10e03.87c6",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 516,
        "y": 182,
        "wires": [
            [
                "d04488c8.d08e58",
                "1d144937.2d0bc7"
            ]
        ]
    },
    {
        "id": "52019c93.d7bc04",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (5).xml",
        "format": "utf8",
        "x": 164,
        "y": 279,
        "wires": [
            [
                "c5d6012f.4a8f1"
            ]
        ]
    },
    {
        "id": "708b2232.08904c",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 396,
        "y": 325,
        "wires": [
            [
                "7e160234.17100c"
            ]
        ]
    },
    {
        "id": "a21c3dc5.6c35e",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (6).xml",
        "format": "utf8",
        "x": 168,
        "y": 326,
        "wires": [
            [
                "708b2232.08904c"
            ]
        ]
    },
    {
        "id": "c5d6012f.4a8f1",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 387,
        "y": 278,
        "wires": [
            [
                "22cd6134.c60c9e"
            ]
        ]
    },
    {
        "id": "7e160234.17100c",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 521,
        "y": 325,
        "wires": [
            [
                "5cdb3432.e78ccc",
                "48b9a9c2.dab878"
            ]
        ]
    },
    {
        "id": "22cd6134.c60c9e",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 516,
        "y": 279,
        "wires": [
            [
                "ea23eeb4.87ba",
                "70ab61c6.a6ad8"
            ]
        ]
    },
    {
        "id": "6989b63e.33ce38",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (7).xml",
        "format": "utf8",
        "x": 163,
        "y": 377,
        "wires": [
            [
                "9c86a127.af7fb"
            ]
        ]
    },
    {
        "id": "dcd367b2.a93c98",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 395,
        "y": 423,
        "wires": [
            [
                "b0f4a628.d79428"
            ]
        ]
    },
    {
        "id": "7be17bc1.1db224",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (8).xml",
        "format": "utf8",
        "x": 167,
        "y": 424,
        "wires": [
            [
                "dcd367b2.a93c98"
            ]
        ]
    },
    {
        "id": "9c86a127.af7fb",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 386,
        "y": 376,
        "wires": [
            [
                "2db51592.75d13a"
            ]
        ]
    },
    {
        "id": "b0f4a628.d79428",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 520,
        "y": 423,
        "wires": [
            [
                "bc0805b0.399368",
                "2898a3c1.ddc2ec"
            ]
        ]
    },
    {
        "id": "2db51592.75d13a",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 515,
        "y": 377,
        "wires": [
            [
                "3ce1873d.18f718",
                "305bd498.6659ec"
            ]
        ]
    },
    {
        "id": "7c635e6.a5d71a",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (9).xml",
        "format": "utf8",
        "x": 167,
        "y": 482,
        "wires": [
            [
                "197d0daa.f14462"
            ]
        ]
    },
    {
        "id": "92dd2947.600088",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 399,
        "y": 528,
        "wires": [
            [
                "b4046e14.ecf55"
            ]
        ]
    },
    {
        "id": "5954517f.dec66",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (10).xml",
        "format": "utf8",
        "x": 171,
        "y": 529,
        "wires": [
            [
                "92dd2947.600088"
            ]
        ]
    },
    {
        "id": "197d0daa.f14462",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 390,
        "y": 481,
        "wires": [
            [
                "67d3f26.e66120c"
            ]
        ]
    },
    {
        "id": "b4046e14.ecf55",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 524,
        "y": 528,
        "wires": [
            [
                "385483f1.72e11c",
                "cfa0581e.a770e8"
            ]
        ]
    },
    {
        "id": "67d3f26.e66120c",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 519,
        "y": 482,
        "wires": [
            [
                "1682095b.814b97",
                "554cc496.58079c"
            ]
        ]
    },
    {
        "id": "3f444da6.5bbe22",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (11).xml",
        "format": "utf8",
        "x": 166,
        "y": 580,
        "wires": [
            [
                "e95a7a9c.0b9f78"
            ]
        ]
    },
    {
        "id": "add1d6f2.fc20e8",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 399,
        "y": 630,
        "wires": [
            [
                "3affe66c.da008a"
            ]
        ]
    },
    {
        "id": "c70576af.155958",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (12).xml",
        "format": "utf8",
        "x": 171,
        "y": 631,
        "wires": [
            [
                "add1d6f2.fc20e8"
            ]
        ]
    },
    {
        "id": "e95a7a9c.0b9f78",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 389,
        "y": 579,
        "wires": [
            [
                "30ff563b.23d56a"
            ]
        ]
    },
    {
        "id": "3affe66c.da008a",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 524,
        "y": 630,
        "wires": [
            [
                "61b003db.4bb0ec",
                "ef17616f.d59da"
            ]
        ]
    },
    {
        "id": "30ff563b.23d56a",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 518,
        "y": 580,
        "wires": [
            [
                "452cb35f.d5d77c",
                "b669da83.c6bd08"
            ]
        ]
    },
    {
        "id": "c9e7e044.589fc",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (13).xml",
        "format": "utf8",
        "x": 167,
        "y": 681,
        "wires": [
            [
                "b7c59a4f.0e6978"
            ]
        ]
    },
    {
        "id": "36f66719.2d8128",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 404,
        "y": 728,
        "wires": [
            [
                "8edb2171.b2189"
            ]
        ]
    },
    {
        "id": "d21e7fdc.f4ce9",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (14).xml",
        "format": "utf8",
        "x": 171,
        "y": 728,
        "wires": [
            [
                "36f66719.2d8128"
            ]
        ]
    },
    {
        "id": "b7c59a4f.0e6978",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 395,
        "y": 681,
        "wires": [
            [
                "5c8e04ff.87aa9c"
            ]
        ]
    },
    {
        "id": "8edb2171.b2189",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 529,
        "y": 728,
        "wires": [
            [
                "852ecc62.bf274",
                "5872a4cd.502dbc"
            ]
        ]
    },
    {
        "id": "5c8e04ff.87aa9c",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 524,
        "y": 682,
        "wires": [
            [
                "84571451.a0ebd8",
                "c14d5d85.ac672"
            ]
        ]
    },
    {
        "id": "d275532.6080eb",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (15).xml",
        "format": "utf8",
        "x": 166,
        "y": 779,
        "wires": [
            [
                "a078ba05.f68188"
            ]
        ]
    },
    {
        "id": "adca26d7.190ca8",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 403,
        "y": 826,
        "wires": [
            [
                "ff0f644b.e9e5c8"
            ]
        ]
    },
    {
        "id": "3d4880d7.f7021",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (16).xml",
        "format": "utf8",
        "x": 170,
        "y": 826,
        "wires": [
            [
                "adca26d7.190ca8"
            ]
        ]
    },
    {
        "id": "a078ba05.f68188",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 394,
        "y": 779,
        "wires": [
            [
                "a2bd2379.84dfb"
            ]
        ]
    },
    {
        "id": "ff0f644b.e9e5c8",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 528,
        "y": 826,
        "wires": [
            [
                "12e55b85.3689e4",
                "d8fd02d9.299f8"
            ]
        ]
    },
    {
        "id": "a2bd2379.84dfb",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 523,
        "y": 780,
        "wires": [
            [
                "eb985d.6d8087a",
                "499950c9.ffc53"
            ]
        ]
    },
    {
        "id": "7181660e.9e76d8",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (17).xml",
        "format": "utf8",
        "x": 168,
        "y": 883,
        "wires": [
            [
                "215edea3.5fd902"
            ]
        ]
    },
    {
        "id": "74a7f11f.e75cf",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 405,
        "y": 930,
        "wires": [
            [
                "57745865.852b78"
            ]
        ]
    },
    {
        "id": "d6cc5671.f25dc8",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (18).xml",
        "format": "utf8",
        "x": 172,
        "y": 930,
        "wires": [
            [
                "74a7f11f.e75cf"
            ]
        ]
    },
    {
        "id": "215edea3.5fd902",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 396,
        "y": 883,
        "wires": [
            [
                "40452c01.97dc14"
            ]
        ]
    },
    {
        "id": "57745865.852b78",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 530,
        "y": 930,
        "wires": [
            [
                "896df826.759858",
                "64551e63.21084"
            ]
        ]
    },
    {
        "id": "40452c01.97dc14",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 525,
        "y": 884,
        "wires": [
            [
                "7d333b76.115c24",
                "d69419a0.1e9c68"
            ]
        ]
    },
    {
        "id": "133bcee9.e63061",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (19).xml",
        "format": "utf8",
        "x": 167,
        "y": 981,
        "wires": [
            [
                "952c96b1.4b7c28"
            ]
        ]
    },
    {
        "id": "9d8e1d45.f2628",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 404,
        "y": 1028,
        "wires": [
            [
                "8581f36d.af9ab"
            ]
        ]
    },
    {
        "id": "943642bd.6c08a",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (20).xml",
        "format": "utf8",
        "x": 171,
        "y": 1028,
        "wires": [
            [
                "9d8e1d45.f2628"
            ]
        ]
    },
    {
        "id": "952c96b1.4b7c28",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 395,
        "y": 981,
        "wires": [
            [
                "284eed8f.021a82"
            ]
        ]
    },
    {
        "id": "8581f36d.af9ab",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 529,
        "y": 1028,
        "wires": [
            [
                "3ff1ac83.e68554",
                "16b6e8e7.ffd537"
            ]
        ]
    },
    {
        "id": "284eed8f.021a82",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 524,
        "y": 982,
        "wires": [
            [
                "b7af2259.f170e",
                "b89ca393.44483"
            ]
        ]
    },
    {
        "id": "3a210546.aba98a",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (21).xml",
        "format": "utf8",
        "x": 172,
        "y": 1085,
        "wires": [
            [
                "aca727e9.83cb58"
            ]
        ]
    },
    {
        "id": "34a1ec02.489864",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 409,
        "y": 1132,
        "wires": [
            [
                "366e1100.85d4b"
            ]
        ]
    },
    {
        "id": "f1f8f4d8.22d698",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (22).xml",
        "format": "utf8",
        "x": 176,
        "y": 1132,
        "wires": [
            [
                "34a1ec02.489864"
            ]
        ]
    },
    {
        "id": "aca727e9.83cb58",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 400,
        "y": 1085,
        "wires": [
            [
                "15c29aa1.890895"
            ]
        ]
    },
    {
        "id": "366e1100.85d4b",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 534,
        "y": 1132,
        "wires": [
            [
                "b1579cf7.279f9",
                "79679256.57d11c"
            ]
        ]
    },
    {
        "id": "15c29aa1.890895",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 529,
        "y": 1086,
        "wires": [
            [
                "3b9a1aae.a67176",
                "6b26327d.319dfc"
            ]
        ]
    },
    {
        "id": "6812a3d6.8c2b0c",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (23).xml",
        "format": "utf8",
        "x": 171,
        "y": 1182,
        "wires": [
            [
                "446a37bf.7997c8"
            ]
        ]
    },
    {
        "id": "8cec5686.7f8458",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 400,
        "y": 1233,
        "wires": [
            [
                "7af1c0c3.d8c08"
            ]
        ]
    },
    {
        "id": "a968f788.18a588",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (24).xml",
        "format": "utf8",
        "x": 175,
        "y": 1233,
        "wires": [
            [
                "8cec5686.7f8458"
            ]
        ]
    },
    {
        "id": "446a37bf.7997c8",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 399,
        "y": 1182,
        "wires": [
            [
                "9377f343.c5fcd"
            ]
        ]
    },
    {
        "id": "7af1c0c3.d8c08",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 525,
        "y": 1233,
        "wires": [
            [
                "99f7cfef.0014a",
                "31dcd6d6.33988a"
            ]
        ]
    },
    {
        "id": "9377f343.c5fcd",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 528,
        "y": 1183,
        "wires": [
            [
                "23468b63.6ff264",
                "cfe50529.716ad8"
            ]
        ]
    },
    {
        "id": "b52ae1cf.83d0a",
        "type": "file in",
        "z": "93699a06.066ce8",
        "name": "",
        "filename": "/home/pi/input files/house (25).xml",
        "format": "utf8",
        "x": 172,
        "y": 1288,
        "wires": [
            [
                "c082e301.bd8db"
            ]
        ]
    },
    {
        "id": "c082e301.bd8db",
        "type": "xml",
        "z": "93699a06.066ce8",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 392,
        "y": 1288,
        "wires": [
            [
                "e846a9ab.f98f98"
            ]
        ]
    },
    {
        "id": "e846a9ab.f98f98",
        "type": "json",
        "z": "93699a06.066ce8",
        "name": "",
        "x": 521,
        "y": 1289,
        "wires": [
            [
                "6c7af624.1df458",
                "a1a79d6d.87bce"
            ]
        ]
    },
    {
        "id": "234292f5.d7ec9e",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 669,
        "y": 62,
        "wires": []
    },
    {
        "id": "58173b94.3c13c4",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home01",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 62,
        "wires": [
            [
                "234292f5.d7ec9e",
                "23f9cf33.291d2"
            ]
        ]
    },
    {
        "id": "f5752188.d17d6",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (1).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 409,
        "y": 62,
        "wires": []
    },
    {
        "id": "23f9cf33.291d2",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 62,
        "wires": [
            [
                "f5752188.d17d6"
            ]
        ]
    },
    {
        "id": "f5eb3d65.50fc7",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 668,
        "y": 119,
        "wires": []
    },
    {
        "id": "e20c2d32.855bf",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home02",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 119,
        "wires": [
            [
                "f5eb3d65.50fc7",
                "7a9b3a10.a75f74"
            ]
        ]
    },
    {
        "id": "65d04d0e.cd3bd4",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (2).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 408,
        "y": 119,
        "wires": []
    },
    {
        "id": "7a9b3a10.a75f74",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 119,
        "wires": [
            [
                "65d04d0e.cd3bd4"
            ]
        ]
    },
    {
        "id": "f2b7d8f3.838808",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 669,
        "y": 171,
        "wires": []
    },
    {
        "id": "d8ad119c.e228e",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home03",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 171,
        "wires": [
            [
                "f2b7d8f3.838808",
                "6ad90ca6.1096c4"
            ]
        ]
    },
    {
        "id": "85d844bc.ba2ae8",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (3).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 409,
        "y": 171,
        "wires": []
    },
    {
        "id": "6ad90ca6.1096c4",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 171,
        "wires": [
            [
                "85d844bc.ba2ae8"
            ]
        ]
    },
    {
        "id": "8ac58f4a.dff8e",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 668,
        "y": 228,
        "wires": []
    },
    {
        "id": "20fa2e00.9eaac2",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home04",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 228,
        "wires": [
            [
                "8ac58f4a.dff8e",
                "c959fac5.1f4f98"
            ]
        ]
    },
    {
        "id": "ca003a21.86b468",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (4).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 408,
        "y": 228,
        "wires": []
    },
    {
        "id": "c959fac5.1f4f98",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 228,
        "wires": [
            [
                "ca003a21.86b468"
            ]
        ]
    },
    {
        "id": "b037d3b2.25d94",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 669,
        "y": 287,
        "wires": []
    },
    {
        "id": "b24b138d.07f9f",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home05",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 287,
        "wires": [
            [
                "b037d3b2.25d94",
                "9d3a01a5.daaf9"
            ]
        ]
    },
    {
        "id": "39bb9468.6f9dbc",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (5).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 409,
        "y": 287,
        "wires": []
    },
    {
        "id": "9d3a01a5.daaf9",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 287,
        "wires": [
            [
                "39bb9468.6f9dbc"
            ]
        ]
    },
    {
        "id": "be662ebb.7f7d",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 668,
        "y": 344,
        "wires": []
    },
    {
        "id": "acbc50ed.75f19",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home06",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 344,
        "wires": [
            [
                "be662ebb.7f7d",
                "b83cca92.2d0de8"
            ]
        ]
    },
    {
        "id": "12fa07c3.4e1228",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (6).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 408,
        "y": 344,
        "wires": []
    },
    {
        "id": "b83cca92.2d0de8",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 344,
        "wires": [
            [
                "12fa07c3.4e1228"
            ]
        ]
    },
    {
        "id": "9352a5e5.172458",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 669,
        "y": 398,
        "wires": []
    },
    {
        "id": "bc26c1c6.448b7",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home07",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 396,
        "wires": [
            [
                "9352a5e5.172458",
                "77d2b587.8471bc"
            ]
        ]
    },
    {
        "id": "f4a34460.554978",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (7).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 409,
        "y": 396,
        "wires": []
    },
    {
        "id": "77d2b587.8471bc",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 396,
        "wires": [
            [
                "f4a34460.554978"
            ]
        ]
    },
    {
        "id": "d77f6d2f.b18a8",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 668,
        "y": 455,
        "wires": []
    },
    {
        "id": "44ac8d93.fbe8b4",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home08",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 453,
        "wires": [
            [
                "d77f6d2f.b18a8",
                "793c786c.de46e8"
            ]
        ]
    },
    {
        "id": "e8a94301.ae915",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (8).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 408,
        "y": 453,
        "wires": []
    },
    {
        "id": "793c786c.de46e8",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 453,
        "wires": [
            [
                "e8a94301.ae915"
            ]
        ]
    },
    {
        "id": "d6f19e79.514bd",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 669,
        "y": 509,
        "wires": []
    },
    {
        "id": "7921d430.5b393c",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home09",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 507,
        "wires": [
            [
                "d6f19e79.514bd",
                "499e1649.dda1e8"
            ]
        ]
    },
    {
        "id": "a330c804.119fb8",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (9).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 409,
        "y": 507,
        "wires": []
    },
    {
        "id": "499e1649.dda1e8",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 507,
        "wires": [
            [
                "a330c804.119fb8"
            ]
        ]
    },
    {
        "id": "67089791.025248",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 668,
        "y": 566,
        "wires": []
    },
    {
        "id": "160ff826.799588",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home10",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 564,
        "wires": [
            [
                "67089791.025248",
                "317d1d2e.5eda62"
            ]
        ]
    },
    {
        "id": "a05356d6.d84608",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (10).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 418,
        "y": 564,
        "wires": []
    },
    {
        "id": "317d1d2e.5eda62",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 564,
        "wires": [
            [
                "a05356d6.d84608"
            ]
        ]
    },
    {
        "id": "8e18a5d3.429d98",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 669,
        "y": 618,
        "wires": []
    },
    {
        "id": "2984d064.2ab6a",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home11",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 616,
        "wires": [
            [
                "8e18a5d3.429d98",
                "30aaec4d.d1a184"
            ]
        ]
    },
    {
        "id": "36f3f4f9.e5542c",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (11).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 419,
        "y": 616,
        "wires": []
    },
    {
        "id": "30aaec4d.d1a184",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 616,
        "wires": [
            [
                "36f3f4f9.e5542c"
            ]
        ]
    },
    {
        "id": "d25aa197.f958c",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 668,
        "y": 675,
        "wires": []
    },
    {
        "id": "28dbd41.ebf302c",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home12",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 673,
        "wires": [
            [
                "d25aa197.f958c",
                "8f3bba6.71ac048"
            ]
        ]
    },
    {
        "id": "1c7ab823.6fd4b8",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (12).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 418,
        "y": 673,
        "wires": []
    },
    {
        "id": "8f3bba6.71ac048",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 673,
        "wires": [
            [
                "1c7ab823.6fd4b8"
            ]
        ]
    },
    {
        "id": "8ed992c4.dce77",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 669,
        "y": 734,
        "wires": []
    },
    {
        "id": "3a0edccd.05b734",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home13",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 732,
        "wires": [
            [
                "8ed992c4.dce77",
                "212430e3.2d2e9"
            ]
        ]
    },
    {
        "id": "ca39b83e.02de28",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (13).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 419,
        "y": 732,
        "wires": []
    },
    {
        "id": "212430e3.2d2e9",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 732,
        "wires": [
            [
                "ca39b83e.02de28"
            ]
        ]
    },
    {
        "id": "77bf8d43.1b9454",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 668,
        "y": 791,
        "wires": []
    },
    {
        "id": "92bd01af.fc145",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home14",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 789,
        "wires": [
            [
                "77bf8d43.1b9454",
                "53903efa.36b94"
            ]
        ]
    },
    {
        "id": "a01f2f2f.be6f9",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (14).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 418,
        "y": 789,
        "wires": []
    },
    {
        "id": "53903efa.36b94",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 789,
        "wires": [
            [
                "a01f2f2f.be6f9"
            ]
        ]
    },
    {
        "id": "a9e35636.092218",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 669,
        "y": 843,
        "wires": []
    },
    {
        "id": "7dccfe8.73eb4",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home15",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 841,
        "wires": [
            [
                "a9e35636.092218",
                "940fecf3.b2f2b"
            ]
        ]
    },
    {
        "id": "9a546af.8b21598",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (15).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 419,
        "y": 841,
        "wires": []
    },
    {
        "id": "940fecf3.b2f2b",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 841,
        "wires": [
            [
                "9a546af.8b21598"
            ]
        ]
    },
    {
        "id": "39ede263.b8e4ae",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 670,
        "y": 898,
        "wires": []
    },
    {
        "id": "28bfbaf4.42c136",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home16",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 898,
        "wires": [
            [
                "39ede263.b8e4ae",
                "ef6238f6.2224a8"
            ]
        ]
    },
    {
        "id": "a6e50951.192298",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (16).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 418,
        "y": 898,
        "wires": []
    },
    {
        "id": "ef6238f6.2224a8",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 898,
        "wires": [
            [
                "a6e50951.192298"
            ]
        ]
    },
    {
        "id": "cc9de1d8.045d7",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 670,
        "y": 953,
        "wires": []
    },
    {
        "id": "e55129cb.aa83d8",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home17",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 953,
        "wires": [
            [
                "cc9de1d8.045d7",
                "53d3b028.8d5cd"
            ]
        ]
    },
    {
        "id": "69ed2d23.f70134",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (17).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 418,
        "y": 953,
        "wires": []
    },
    {
        "id": "53d3b028.8d5cd",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 953,
        "wires": [
            [
                "69ed2d23.f70134"
            ]
        ]
    },
    {
        "id": "80465732.10f208",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 671,
        "y": 1007,
        "wires": []
    },
    {
        "id": "fda8045c.fcda08",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home18",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 1007,
        "wires": [
            [
                "80465732.10f208",
                "7f5676cf.cc32d8"
            ]
        ]
    },
    {
        "id": "214a1ad3.dffb06",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (18).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 419,
        "y": 1007,
        "wires": []
    },
    {
        "id": "7f5676cf.cc32d8",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 1007,
        "wires": [
            [
                "214a1ad3.dffb06"
            ]
        ]
    },
    {
        "id": "7f6fafc6.1a124",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 670,
        "y": 1064,
        "wires": []
    },
    {
        "id": "d731f450.334638",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home19",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 1064,
        "wires": [
            [
                "7f6fafc6.1a124",
                "4764c024.1a822"
            ]
        ]
    },
    {
        "id": "ea711391.fb746",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (19).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 418,
        "y": 1064,
        "wires": []
    },
    {
        "id": "4764c024.1a822",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 1064,
        "wires": [
            [
                "ea711391.fb746"
            ]
        ]
    },
    {
        "id": "2008c17f.11ac9e",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 671,
        "y": 1116,
        "wires": []
    },
    {
        "id": "95d66e89.2d326",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home20",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 1116,
        "wires": [
            [
                "2008c17f.11ac9e",
                "8a518513.3ae988"
            ]
        ]
    },
    {
        "id": "b647778a.534f68",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (20).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 419,
        "y": 1116,
        "wires": []
    },
    {
        "id": "8a518513.3ae988",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 1116,
        "wires": [
            [
                "b647778a.534f68"
            ]
        ]
    },
    {
        "id": "13fa847b.16f71c",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 670,
        "y": 1173,
        "wires": []
    },
    {
        "id": "4af7e976.606eb8",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home21",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 1173,
        "wires": [
            [
                "13fa847b.16f71c",
                "9eeac01e.91d29"
            ]
        ]
    },
    {
        "id": "17ae5c37.a3f5f4",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (21).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 418,
        "y": 1173,
        "wires": []
    },
    {
        "id": "9eeac01e.91d29",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 1173,
        "wires": [
            [
                "17ae5c37.a3f5f4"
            ]
        ]
    },
    {
        "id": "228936d8.2d09fa",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 671,
        "y": 1232,
        "wires": []
    },
    {
        "id": "6bfd7db5.676124",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home22",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 1232,
        "wires": [
            [
                "228936d8.2d09fa",
                "76f51b87.3c2bb4"
            ]
        ]
    },
    {
        "id": "20ff9db2.e84b22",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (22).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 419,
        "y": 1232,
        "wires": []
    },
    {
        "id": "76f51b87.3c2bb4",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 1232,
        "wires": [
            [
                "20ff9db2.e84b22"
            ]
        ]
    },
    {
        "id": "cbfeab2d.2b15a8",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 670,
        "y": 1289,
        "wires": []
    },
    {
        "id": "ca79db5c.6c3428",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home23",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 1289,
        "wires": [
            [
                "cbfeab2d.2b15a8",
                "c61ce3b6.815d6"
            ]
        ]
    },
    {
        "id": "6c7ef932.115b38",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (23).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 418,
        "y": 1289,
        "wires": []
    },
    {
        "id": "c61ce3b6.815d6",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 1289,
        "wires": [
            [
                "6c7ef932.115b38"
            ]
        ]
    },
    {
        "id": "57c28801.755c78",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 671,
        "y": 1341,
        "wires": []
    },
    {
        "id": "62915c28.2560e4",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home24",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 66,
        "y": 1341,
        "wires": [
            [
                "57c28801.755c78",
                "fa1a4636.6cd3f8"
            ]
        ]
    },
    {
        "id": "705e19b9.2e7d28",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (24).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 419,
        "y": 1341,
        "wires": []
    },
    {
        "id": "fa1a4636.6cd3f8",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 192,
        "y": 1341,
        "wires": [
            [
                "705e19b9.2e7d28"
            ]
        ]
    },
    {
        "id": "11743490.26dc7b",
        "type": "debug",
        "z": "715aa0a6.517ab",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 670,
        "y": 1398,
        "wires": []
    },
    {
        "id": "38349637.a7b9fa",
        "type": "wiotp in",
        "z": "715aa0a6.517ab",
        "authType": "d",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "command": "home25",
        "commandType": "g",
        "qos": "0",
        "name": "",
        "x": 65,
        "y": 1398,
        "wires": [
            [
                "11743490.26dc7b",
                "d4c31511.c46658"
            ]
        ]
    },
    {
        "id": "a0d75723.ef3118",
        "type": "file",
        "z": "715aa0a6.517ab",
        "name": "",
        "filename": "/home/pi/output files/house (25).xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 418,
        "y": 1398,
        "wires": []
    },
    {
        "id": "d4c31511.c46658",
        "type": "xml",
        "z": "715aa0a6.517ab",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 191,
        "y": 1398,
        "wires": [
            [
                "a0d75723.ef3118"
            ]
        ]
    },
    {
        "id": "984ae539.5df948",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 818,
        "y": 85,
        "wires": []
    },
    {
        "id": "6e84a9f5.043e88",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house02",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 662,
        "y": 131,
        "wires": []
    },
    {
        "id": "e81db477.4a9d38",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 814,
        "y": 131,
        "wires": []
    },
    {
        "id": "d04488c8.d08e58",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house03",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 661,
        "y": 181,
        "wires": []
    },
    {
        "id": "1d144937.2d0bc7",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 813,
        "y": 181,
        "wires": []
    },
    {
        "id": "df140edc.aea19",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house04",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 663,
        "y": 228,
        "wires": []
    },
    {
        "id": "9358e53f.47b478",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 815,
        "y": 228,
        "wires": []
    },
    {
        "id": "ea23eeb4.87ba",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house05",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 659,
        "y": 274,
        "wires": []
    },
    {
        "id": "70ab61c6.a6ad8",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 811,
        "y": 274,
        "wires": []
    },
    {
        "id": "5cdb3432.e78ccc",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house06",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 658,
        "y": 324,
        "wires": []
    },
    {
        "id": "48b9a9c2.dab878",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 810,
        "y": 324,
        "wires": []
    },
    {
        "id": "3ce1873d.18f718",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house07",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 662,
        "y": 381,
        "wires": []
    },
    {
        "id": "305bd498.6659ec",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 814,
        "y": 381,
        "wires": []
    },
    {
        "id": "bc0805b0.399368",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house08",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 658,
        "y": 427,
        "wires": []
    },
    {
        "id": "2898a3c1.ddc2ec",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 810,
        "y": 427,
        "wires": []
    },
    {
        "id": "1682095b.814b97",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house09",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "554cc496.58079c",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 812,
        "y": 480,
        "wires": []
    },
    {
        "id": "385483f1.72e11c",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house10",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 664,
        "y": 531,
        "wires": []
    },
    {
        "id": "cfa0581e.a770e8",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 816,
        "y": 531,
        "wires": []
    },
    {
        "id": "452cb35f.d5d77c",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house11",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 660,
        "y": 577,
        "wires": []
    },
    {
        "id": "b669da83.c6bd08",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 812,
        "y": 577,
        "wires": []
    },
    {
        "id": "61b003db.4bb0ec",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house12",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 659,
        "y": 627,
        "wires": []
    },
    {
        "id": "ef17616f.d59da",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 811,
        "y": 627,
        "wires": []
    },
    {
        "id": "84571451.a0ebd8",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house13",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 668,
        "y": 683,
        "wires": []
    },
    {
        "id": "c14d5d85.ac672",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 820,
        "y": 683,
        "wires": []
    },
    {
        "id": "852ecc62.bf274",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house14",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 664,
        "y": 729,
        "wires": []
    },
    {
        "id": "5872a4cd.502dbc",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 816,
        "y": 729,
        "wires": []
    },
    {
        "id": "eb985d.6d8087a",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house15",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 663,
        "y": 779,
        "wires": []
    },
    {
        "id": "499950c9.ffc53",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 815,
        "y": 779,
        "wires": []
    },
    {
        "id": "12e55b85.3689e4",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house16",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 666,
        "y": 830,
        "wires": []
    },
    {
        "id": "d8fd02d9.299f8",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 818,
        "y": 830,
        "wires": []
    },
    {
        "id": "7d333b76.115c24",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house17",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 662,
        "y": 876,
        "wires": []
    },
    {
        "id": "d69419a0.1e9c68",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 814,
        "y": 876,
        "wires": []
    },
    {
        "id": "896df826.759858",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house18",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 664,
        "y": 929,
        "wires": []
    },
    {
        "id": "64551e63.21084",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 813,
        "y": 931,
        "wires": []
    },
    {
        "id": "b7af2259.f170e",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house19",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 666,
        "y": 985,
        "wires": []
    },
    {
        "id": "b89ca393.44483",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 818,
        "y": 985,
        "wires": []
    },
    {
        "id": "3ff1ac83.e68554",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house20",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 662,
        "y": 1031,
        "wires": []
    },
    {
        "id": "16b6e8e7.ffd537",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 814,
        "y": 1031,
        "wires": []
    },
    {
        "id": "3b9a1aae.a67176",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house21",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 666,
        "y": 1088,
        "wires": []
    },
    {
        "id": "6b26327d.319dfc",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 821,
        "y": 1087,
        "wires": []
    },
    {
        "id": "b1579cf7.279f9",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house22",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 670,
        "y": 1134,
        "wires": []
    },
    {
        "id": "79679256.57d11c",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 822,
        "y": 1134,
        "wires": []
    },
    {
        "id": "23468b63.6ff264",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house23",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 665,
        "y": 1185,
        "wires": []
    },
    {
        "id": "cfe50529.716ad8",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 817,
        "y": 1185,
        "wires": []
    },
    {
        "id": "99f7cfef.0014a",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house24",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 667,
        "y": 1238,
        "wires": []
    },
    {
        "id": "31dcd6d6.33988a",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 816,
        "y": 1240,
        "wires": []
    },
    {
        "id": "6c7af624.1df458",
        "type": "wiotp out",
        "z": "93699a06.066ce8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "203725c8.ea478a",
        "deviceType": "",
        "deviceId": "",
        "event": "house25",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 670,
        "y": 1289,
        "wires": []
    },
    {
        "id": "a1a79d6d.87bce",
        "type": "debug",
        "z": "93699a06.066ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 819,
        "y": 1291,
        "wires": []
    }
]